@model IEnumerable<SEP_Team1.Models.MonHoc>
@{var subjects = (List<SEP_Team1.Models.MonHoc>)ViewBag.Subject;
    var lesson = (List<SEP_Team1.Models.KhoaHoc>)ViewBag.Lesson;
}
@{
    ViewBag.Title = "Index";
}
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-12">
            <h4 class="text-white"></h4>
        </div>
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6 text-right">
            <form class="app-search d-none d-md-block d-lg-block">
                <input type="text" class="form-control" placeholder="Search &amp; enter">
            </form>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Info box -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="card">
        <div class="card-body"> 
            <div class="row">
    <!-- col -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-info">
            <div class="card-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                           
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                           
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-twitter fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white font-light">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-primary">
            <div class="card-body">
                <div id="myCarousel2" class="carousel slide vert" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                          
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                           
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-facebook fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-inverse">
            <div class="card-body">
                <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                          
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                          
                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->
    <div class="col-lg-3 col-md-6">
        <div class="card bg-purple">
            <div class="card-body">
                <div id="myCarousel3" class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>

                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>

                        </div>
                        <div class="carousel-item flex-column">
                            <i class="fa fa-map-marker fa-2x text-white"></i>
                            <p class="text-white">25th Jan</p>
                            <h3 class="text-white">
                                Now Get <span class="font-bold">50% Off</span><br>
                                on buy
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->
</div> 
        </div>
    </div>
    
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End Info box -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Over Visitor, Our income , slaes different and  sales prediction -->
    <!-- ============================================================== -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!-- Column -->
                <div class="col-lg-8 col-md-12">
                    <div class="blogs-slide m-b-15">
                        <div class="carousel slide" data-ride="carousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active carousel-item">
                                    <div class="overlaybg" style="background:no-repeat center center"><img src="/Content/Admin/assets/images/news/slide6.jpg" alt="user" /></div>
                                    <div class="blogs-content carousel-caption">
                                        <span class="label label-danger label-rounded">Primary</span>
                                        <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="overlaybg"><img src="/Content/Admin/assets/images/news/slide6.jpg" alt="user" /></div>
                                    <div class="blogs-content carousel-caption">
                                        <span class="label label-primary label-rounded">Primary</span>
                                        <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="overlaybg"><img src="/Content/Admin/assets/images/news/slide6.jpg" alt="user" /></div>
                                    <div class="blogs-content carousel-caption">
                                        <span class="label label-success label-rounded">Primary</span>
                                        <h4>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h4> <a href="javascript:void(0)">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-lg-4 col-md-12">
                    <div class="row">
                        <!-- Column -->
                        <div class="col-md-12">
                            <div class="card bg-cyan text-white">
                                <div class="card-body ">
                                    <div class="row weather">
                                        <div class="weather-widget">
                                            <div id="weather-one" class="col-12"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-12">
                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <div id="myCarouse2" class="carousel slide" data-ride="carousel">
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <h4 class="cmin-height">My Acting blown <span class="font-medium">Your Mind</span> and you also <br />laugh at the moment</h4>
                                                <div class="d-flex no-block">
                                                    <span><img src="/Content/Admin/assets/images/users/1.jpg" alt="user" width="50" class="img-circle"></span>
                                                    <span class="m-l-10">
                                                        <h4 class="text-white m-b-0">Govinda</h4>
                                                        <p class="text-white">Actor</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <h4 class="cmin-height">My Acting blown <span class="font-medium">Your Mind</span> and you also <br />laugh at the moment</h4>
                                                <div class="d-flex no-block">
                                                    <span><img src="/Content/Admin/assets/images/users/2.jpg" alt="user" width="50" class="img-circle"></span>
                                                    <span class="m-l-10">
                                                        <h4 class="text-white m-b-0">Govinda</h4>
                                                        <p class="text-white">Actor</p>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <h4 class="cmin-height">My Acting blown <span class="font-medium">Your Mind</span> and you also <br />laugh at the moment</h4>
                                                <div class="d-flex no-block">
                                                    <span><img src="/Content/Admin/assets/images/users/3.jpg" alt="user" width="50" class="img-circle"></span>
                                                    <span class="m-l-10">
                                                        <h4 class="text-white m-b-0">Govinda</h4>
                                                        <p class="text-white">Actor</p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>
        </div>
    </div>  
   
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top img-responsive" src="/Content/Admin/assets/images/big/img1.jpg" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-inline font-14">
                        <li class="p-l-0">20 May 2016</li>
                        <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                    </ul>
                    <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top img-responsive" src="/Content/Admin/assets/images/big/img2.jpg" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-inline font-14">
                        <li class="p-l-0">20 May 2016</li>
                        <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                    </ul>
                    <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top img-responsive" src="/Content/Admin/assets/images/big/img4.jpg" alt="Card image cap">
                <div class="card-body">
                    <ul class="list-inline font-14">
                        <li class="p-l-0">20 May 2016</li>
                        <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                    </ul>
                    <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
                    <p class="m-b-0 m-t-10">Titudin venenatis ipsum ac feugiat. Vestibulum ullamcorper quam.</p>
                    <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</button>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Comment - table -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Courses Table</h4>
                    <h6 class="card-subtitle">More infomations about courses</h6>
                    <div class="table-responsive">
                        <table class="table color-table dark-table">
                            <thead>
                                <tr>
                                    <th>ID Course</th>
                                    <th>School Year</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lesson)
                                {
                                    <tr>
                                         @{
                                    DateTime start = Convert.ToDateTime(item.ngaybatdau);
                                    DateTime end = Convert.ToDateTime(item.ngayketthuc);
                                    string st = start.ToString("dd/MM/yyyy");
                                    string en = end.ToString("dd/MM/yyyy");

                                    }
                                        <td><a href="/Home/Attendance/@item.maKH">@item.maKH</td>
                                        <td>@item.nienkhoa</td>
                                        <td>@st</td>
                                    <td>@en</td>
                                    <td> </td>
                                    <td> </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- ============================================================== -->
    <!-- End Comment - chats -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Over Visitor, Our income , slaes different and  sales prediction -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Todo, chat, notification -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
